@import "config";
@import "menu";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: $primary-color;
  font-size: 18px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* header */
.header {
  width: 100%;
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
}

// main-content
.main-content {
  margin: auto;
  align-content: center;
  text-align: center;
  width: 90%;
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;

  h1 {
    color: $secondary-color;
    margin-top: 10vh;

    span {
      color: $alternative-color;
    }
  }

  p {
    color: $secondary-color;
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $alternative-color;
      }
    }
  }
}

a {
  color: $secondary-color;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: $alternative-color;
  color: $primary-color;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* loader */
.loader {
  font-size: 40px;
  color: $alternative-color;
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.25em;
  }
}
